@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@100;300;400;500;600;700&display=swap');
*, :after, :before {
    border: 0 solid #e5e7eb;
}
body{
    background: #F4EEFF;
    -ms-overflow-style: none;
    background-image: radial-gradient(#d1ccda 1px, transparent 0);
    background-size: 25px 25px;
    background-position: -10px -10px;
}
::-webkit-scrollbar {
    width: 4px;  /* Độ rộng của thanh cuộn */
  }
::-webkit-scrollbar-track {
    background: transparent;  /* Màu nền của track */
}
::-webkit-scrollbar-thumb {
    background: #4e4e4e;  /* Màu của thumb */
    border-radius: 3px;  /* Bo tròn góc của thumb */
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Màu khi hover vào thumb */
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
.navbar{
    background: #f9f3fa;
    box-shadow: 0 2px 8px rgba(95, 95, 95, 0.25);
    background-color: #f9f3fa; 
    backdrop-filter: blur(15px); 
    top: 10;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    transition: background-color 0.3s ease;
    z-index: 1000;
    position: sticky;
}
.flex{
    align-items: center;
}
.flex-container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.nav-right{
    position: relative; 
    top: 1px; 
    left: 370px;
    
}
.purple{
    background: #8B48FF;
}
.main-content {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center; 
}
.box {
    background-color: white;
    border-radius: 110px;
    box-shadow: 0 7px 7px rgba(29, 29, 29, 0.1);
    padding: 100px;
    width: 100%;
    height: 2500px;
    max-width: 8000px;
    
}
/*1*/
.feature {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 60px; 
}
.feature-content {
    position: absolute;
    left: 850px;
    top: 70px; 
}
.feature-image {
    position: absolute;
    width: 500px; 
    height: 450px; 
    background-color: #e0e0e0;
    left: 300px; 
    top: 5px; 
    
}
/*2*/
.feature2 {
    position: relative;
    background-color: #ffffff;
}
.feature-content2 {
    position: absolute;
    left: 850px;
    top: 484px; 
}
.feature-image2 {
    position: absolute;
    width: 500px; 
    height: 450px; 
    background-color: #e0e0e0;
    left: 300px;
    top: 420px;
    
}

.feature3 {
    position: relative;
    background-color: #ffffff;
}
.feature-content3 {
    position: absolute;
    left: 850px;
    top: 1000px; 
}
.feature-image3 {
    position: absolute;
    width: 500px;
    height: 450px; 
    background-color: #e0e0e0;
    left: 300px;
    top: 932px;
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.problem-title, .solution-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2F2246;
}

.problem-header, .solution-header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #2F2246;
}

.problem-description, .solution-description {
    font-size: 18px;
    margin-bottom: 40px;
    color: #666;
}

.problems {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.problem {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 30%;
    text-align: left;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.note {
    background-image: url('sticky-notes.png');
    background-size: cover; /* Hoặc 'contain' nếu bạn muốn hình ảnh vừa vặn */
    background-position: center; /* Đặt hình ảnh ở giữa */
    width: 40px; /* Chiều rộng của div */
    height: 40px; /* Chiều cao của div */
}

.brain {
    background-image: url('brain.png');
    background-size: cover; /* Hoặc 'contain' nếu bạn muốn hình ảnh vừa vặn */
    background-position: center; /* Đặt hình ảnh ở giữa */
    width: 40px; /* Chiều rộng của div */
    height: 40px; /* Chiều cao của div */
}

.tired {
    background-image: url('tiredness.png');
    background-size: cover; /* Hoặc 'contain' nếu bạn muốn hình ảnh vừa vặn */
    background-position: center; /* Đặt hình ảnh ở giữa */
    width: 40px; /* Chiều rộng của div */
    height: 40px; /* Chiều cao của div */
}

h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    color: #555;
}
.pricing {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.pricing_box{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 7px 7px rgba(95, 95, 95, 0.1);
    padding: 20px;
    width: 100%;
    height: 430px;
    max-width: 300px;   
}
.container_pricing {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
ul {
    padding: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left
}
li {
    margin-bottom: 8px;
    color: #666;
    text-align: left
}
li::before {
    content: "✓";
    color: #4CAF50;
    margin-right: 8px;
    text-align: left
}